*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* CSS Variables */
:root {
  --bg-light: #fafafc;
  --bg-card: #f4f4fb;
  --border-color: #cdcccc;
  --primary: #f5cf29;
  --primary-hover: #fdda3e;
  --text: #121714;
  --text-muted: #8c919a;
  --accent: #9eef9c;
  /* --font-family: use Inter */
  --transition-speed: 0.2;
}

/* Font family & bg colors */
html {
  scroll-behavior: smooth;
  /* font-family: var(--font-family); */
  background-color: var(--bg-light);
  color: var(--text);
  line-height: 1.6;
}

/* Styling buttons & classes */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: var(--text);
  font-weight: 600;
  text-decoration: none;
  border-radius: 6px;
  border: 1 solid transparent;
  cursor: pointer;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed),
    var(--border-color) var(--transition-speed);
}

/* Keyboard browsing */
.btn:focus-visible {
  outline: wpx solid var(--primary);
  outline-offset: 3px;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

/* Webpage Layout */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(250, 250, 252, 0.95);
  border-bottom: 1.5px solid var(--border-color);
}

.site-logo {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

.nav-link {
  color: var(--text-muted);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color var(--transition-speed);
}

.nav-link:hover {
  color: var(--text);
}

/* Hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  padding: 6rem 1.5rem 4rem 1.5rem;
}

.hero-title {
  font-size: 2.75rem;
  text-align: center;
  max-width: 900px;
}

.hero-caption {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.section-area {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.section-header {
  margin-top: 3rem;
  font-size: 1.25rem;
  text-align: center;
  max-width: 900px;
  margin-bottom: 1.5rem;
}

.section-caption {
  margin-top: 1rem;
}

.features-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  max-width: 900px;
}

.feature-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-card);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  transition: border-color var(--transition-speed);
}

.feature-box:hover {
  border-color: var(--primary);
  transform: translateY(-3px);
}

.feature-title {
  font-size: 1.25rem;
}

.feature-caption {
  margin-bottom: 1rem;
}

.feature-icon {
  font-size: 4rem;
  text-align: center;
}

/* Tier section */

.tier-grid {
  display: flex;
  gap: 2rem;
  max-width: 900px;
}

.tier-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  background-color: var(--bg-card);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 1.5rem;
}

.tier-title {
  font-size: 1.25rem;
}

.tier-features {
  list-style-type: none;
  flex-grow: 1;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.tier-features li {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--border-color);
}

.tier-features li::before {
  content: "✅";
  padding-right: 0.5rem;
}
